# postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=changeme
POSTGRES_DB=db

# api
CORS_ORIGIN=*
# db url structure: type://user:pass@host:port/name
DATABASE_URL=postgres://root:changeme@postgres:5432/db
SELF_HOST=localhost:23089
JWT_AUDIENCE=account
JWT_ISSUER=https://accounts.gaze.dev/auth/realms/test-accounts
JWT_NETWORK_URI=https://accounts.gaze.dev/auth/realms/test-accounts
JWT_CLIENT=ownersearch
JWT_CLIENT_ROLE=api-access
# DANGER: If you uncomment this, it will force wipe and restructure the database
# DB_DESTROY_DATABASE_RESTRUCTURE=DB_DESTROY_DATABASE_RESTRUCTURE

# chrome
# $CHROME_ARG1 and $CHROME_ARG2 aren't set here. They are set in .env
