# postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# api
CORS_ORIGIN=https://owner-search.pittsburghousing.org
# db url structure: type://user:pass@host:port/name
DATABASE_URL=
SELF_HOST=corpsearch-api.pittsburghhousing.org
JWT_AUDIENCE=account
JWT_ISSUER=https://accounts.gaze.dev/auth/realms/gaze-accounts
JWT_NETWORK_URI=https://accounts.gaze.dev/auth/realms/gaze-accounts
JWT_CLIENT=ownersearch
JWT_CLIENT_ROLE=api-access

# chrome
# $CHROME_ARG1 and $CHROME_ARG2 aren't set here. They are set in .env
